-r requirements.txt
pytest-homeassistant-custom-component>=0.13.205
pytest>=8.3.4
pytest-asyncio>=0.24.0
pytest-cov>=6.0.0
pytest-mypy>=1.0.1
coverage>=7.6.8
freezegun>=1.5.1
requests-mock>=1.12.1
respx>=0.21.1
syrupy>=4.8.0
pre-commit>=4.3.0
ruff>=0.13.3
mypy>=1.18.2
pylint>=3.3.8
