-r requirements.txt
pytest>=9.0.3
pytest-asyncio>=1.4.0
pytest-cov>=7.1.0
pytest-mypy>=1.0.1
coverage>=7.16.2
freezegun>=1.5.5
requests-mock>=1.12.1
respx>=0.23.1
syrupy>=6.1.1
pre-commit>=4.6.2
ruff>=0.16.10
mypy>=2.4.0
pylint>=4.1.2
